@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
/* font-family: 'Poppins', monospace;*/
*, *::after, *::before{
    box-sizing: border-box;
}

:root{
    --primary-clr: #22254b;
    --secondary-clr: #373b69;

}
body{
    background-color: var(--primary-clr);
    margin: 0;
    font-family: 'Poppins', sans-serif;
    
}

img{
    width: 100%;
}

header {
    padding: 1em;
    display: flex;
    justify-content: flex-end;
    background-color: var(--secondary-clr);
}

.search{
    background-color: transparent;
    border: 2px solid var(--primary-clr);
    border-radius: 50px;
    font-family: inherit;
    font-size: 1rem;
    padding: .5em 1em;
    color: #fff;
}

.search::placeholder{
    color: #7378c5;
}
.search:focus{
   outline: none;
   background-color: var(--primary-clr);
}

main {
    display: flex;
    flex-wrap: wrap;
}

.movie{
    width: 300px;
    margin: 1em;
    background-color: var(--secondary-clr);
    box-shadow: 0 4px 5px rgba(0,0,0,0,.2);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}

.movie-info{
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .5em 1em 1em;
    letter-spacing: .5px;
}

.movie-info h3{
    margin-top: 0;
}

.movie-info span{
    background-color: var(--primary-clr);
    padding: .25em .5em;
    font-weight: bold;
}

.movie-info span.green{
    color: lightgreen;
}
.movie-info span.orange{
    color: orange;
}
.movie-info span.red{
    color: orangered;
}

.summary{
    background-color: #fff;
    padding: 1em;
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    max-height: 100%;
    /* The translate is hidden by the overflow:hidden property */
    transform: translateY(101%); 
    transition: transform 0.3s ease-in;
}

.movie:hover .summary{
    transform: translateY(0);
}